<div>
  <form action="/admin/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" />
    <label for="password">Password:</label>
    <input type="password" alt="password" name="password" />
    <button type="submit">Login</button>
  </form>
</div>