<form action="/admin/reset/:token" method="post">
<label for="password">New Password</label>
<input type="text" name="password">
<input type="hidden" name="userId" value="{{userId}}">
<button type="submit">Set new password</button>
</form>