<div>
  {{#if errorMessage}}<h1>{{ errorMessage }}</h1>{{/if}}
  <form action="/results" method="POST" class="user-login-form">
    <ul>
      <li class="form-row">
        <label for="nationalId">EGN:</label>
        <input type="number" name="nationalId" />
      </li>
      <li class="form-row">
        <label for="password">Password:</label>
        <input type="password" alt="password" name="password" />
      </li>
      <li class="form-row">
        <button type="submit">Check result</button>
      </li>
    </ul>
  </form>
</div>