<div>
  {{#if hasUsers}}
  <h2>Your data:</h2>
  <div class="result-table result-table--3cols">

  <div class="result-table-cell">National ID / EGN</div>
  <div class="result-table-cell">Email:</div>
  <div class="result-table-cell">Docs:</div>
  {{#each users}}
  <div class="result-table-cell">{{this.nationalId}}</div>
  <div class="result-table-cell">{{this.email}}</div>
  <div class="result-table-cell">    
    <a href="/results/{{this.docs}}" target="_blank">
      <i class="fa-solid fa-file-pdf fa-2xl" id="pdf-icon"></i>
    </a></div>
  {{/each}}
</div>
  {{ else}} 
  <h1>No users found</h1>
  {{/if}}
</div>